body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
.app{
  background-color: #F8F9FA;
  height: 100vh;
  width: 100vw;
  position:fixed
}
b{
  font-size:1.7vh;
}
p{
  font-size:1.7vh;
}
label{
  font-size: 1.7vh;
}
button{
  font-size: 1.7vh !important;
}
input{
  font-size: 1.9vh !important;
}
span{
  font-size: 1.7vh;
}
a{
  text-decoration: none !important;
  color: inherit !important;
}
.sidebar {
  width: 200px;
  height: 80vh;
  position: fixed;
  top: 15%;
  left: -200px;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0;
}

.content {
  margin-left: 0;
  transition: margin-left 0.3s ease;
}
.content.open {
  margin-left: 200px;
}
.header {
  /* position: fixed; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius:18px ;
  box-shadow: 0px 7px 23px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.5);
  left: 15%;
  top: 15px;
  /* width: 70%; */
  height: 8%;
  z-index: 100000;
}
.header-logo{
  width: 16px;
  height: 16px;
}
.toggle-button {
  border-radius: 34.5px;
  background: linear-gradient(82deg, #313860 2.25%, #151928 79.87%);
  padding: 5px 30px 5px 30px;
  color: white;
  font-family: Helvetica;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}
.form-control{
  margin-bottom: 5px;
}
.rounded-bottom-right {
  border-bottom-left-radius: 1rem;
}
.form-control{
  margin-top: 5px;
  margin-bottom: 0px;
  height: 40px;
  border-radius: 15px !important;
}
.form-group{
  margin-top: 5px;
  margin-bottom: 5px;
}
.cursor-pointer{
  cursor: pointer;
}
ul{
  list-style: none;
  padding-left: 1.5rem !important;
}
li{
  display: flex;
  align-items: center; 
  padding: 10px;
  cursor: pointer;
}
.sidebar-menu{
  font-weight: 600;
  font-size: 2vh;
  width: 85%;
  border-radius: 12px;
  background-color: inherit;
  transition: background-color 0.5s ease, margin 0.5s ease ; 
}
.sidebar-icon{
  display: flex;
  height: 2rem;
  width: 2rem;
  border-radius: 40%;
  color: #4FD1C5;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: color 0.5s ease, background-color 0.5s ease; 
}
.sidebar-menu.active{
  margin-bottom: 10px;
  width: 85%;
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
}
.sidebar-icon.active {
  color: #F8F9FA;
  background-color: #4FD1C5;
}
.card{
  border: none !important;
}
.card.dashbord-cards{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 10px !important;
  margin-bottom: 15px;
  border: none !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 2px 0px;
}
.dashbord-icon{
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 40%;
  color: #F8F9FA;
  background-color: #4FD1C5;
  align-items: center;
  justify-content: center;
}
.header-search{
  position: relative;
}
@media only screen and (max-width: 600px) {
  .sidebar {
    left: -200px !important;
    transition: left 0.3s ease;
  }
  .content.open {
    margin-left: 0;
  }
  .header-search{
    display: none !important;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
